html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

.clickable {
  color: inherit; }
  .clickable:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .clickable:active {
    background-color: rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 0) and (max-width: 4000px) {
  .hide {
    display: none; }

  .col,
  .col-reverse,
  .row {
    display: flex; }

  .col {
    flex-direction: column; }

  .col-reverse {
    flex-direction: column-reverse; }

  .main-center {
    justify-content: center; }

  .main-start {
    justify-content: flex-start; }

  .main-end {
    justify-content: flex-end; }

  .main-space-between {
    justify-content: space-between; }

  .main-space-around {
    justify-content: space-around; }

  .cross-center {
    align-items: center; }

  .cross-start {
    align-items: flex-start; }

  .cross-end {
    align-items: flex-end; }

  .cross-baseline {
    align-items: baseline; }

  .flex {
    flex: 1 1; }

  .wrap {
    flex-wrap: wrap; }

  .h-100 {
    height: 100%; }

  .shadow-15 {
    box-shadow: 0px 0px 15px 0px #646464; }

  .layout-padding8 > div, .layout-padding8 > b, .layout-padding8 > button, .layout-padding8 > a, .layout-padding8 > input {
    padding: 8px; }

  .layout-padding4 > div, .layout-padding4 > b, .layout-padding4 > button, .layout-padding4 > a, .layout-padding4 > input {
    padding: 4px; }

  .layout-margin8 > div, .layout-margin8 > b, .layout-margin8 > button, .layout-margin8 > a, .layout-margin8 > input {
    margin: 8px; }

  .layout-margin4 > div, .layout-margin4 > b, .layout-margin4 > button, .layout-margin4 > a, .layout-margin4 > input {
    margin: 4px; }

  .w-5 {
    width: 5%; }

  .w-10 {
    width: 10%; }

  .w-15 {
    width: 15%; }

  .w-20 {
    width: 20%; }

  .w-25 {
    width: 25%; }

  .w-30 {
    width: 30%; }

  .w-35 {
    width: 35%; }

  .w-40 {
    width: 40%; }

  .w-45 {
    width: 45%; }

  .w-50 {
    width: 50%; }

  .w-55 {
    width: 55%; }

  .w-60 {
    width: 60%; }

  .w-65 {
    width: 65%; }

  .w-70 {
    width: 70%; }

  .w-75 {
    width: 75%; }

  .w-80 {
    width: 80%; }

  .w-85 {
    width: 85%; }

  .w-90 {
    width: 90%; }

  .w-95 {
    width: 95%; }

  .w-100 {
    width: 100%; } }
@media screen and (min-width: 0) and (max-width: 600px) {
  .hide-sm {
    display: none; }

  .col-sm,
  .col-reverse-sm,
  .row-sm {
    display: flex; }

  .col-sm {
    flex-direction: column; }

  .col-reverse-sm {
    flex-direction: column-reverse; }

  .main-center-sm {
    justify-content: center; }

  .main-start-sm {
    justify-content: flex-start; }

  .main-end-sm {
    justify-content: flex-end; }

  .main-space-between-sm {
    justify-content: space-between; }

  .main-space-around-sm {
    justify-content: space-around; }

  .cross-center-sm {
    align-items: center; }

  .cross-start-sm {
    align-items: flex-start; }

  .cross-end-sm {
    align-items: flex-end; }

  .cross-baseline-sm {
    align-items: baseline; }

  .flex-sm {
    flex: 1 1; }

  .wrap-sm {
    flex-wrap: wrap; }

  .h-100-sm {
    height: 100%; }

  .shadow-15-sm {
    box-shadow: 0px 0px 15px 0px #646464; }

  .layout-padding8-sm > div, .layout-padding8-sm > b, .layout-padding8-sm > button, .layout-padding8-sm > a, .layout-padding8-sm > input {
    padding: 8px; }

  .layout-padding4-sm > div, .layout-padding4-sm > b, .layout-padding4-sm > button, .layout-padding4-sm > a, .layout-padding4-sm > input {
    padding: 4px; }

  .layout-margin8-sm > div, .layout-margin8-sm > b, .layout-margin8-sm > button, .layout-margin8-sm > a, .layout-margin8-sm > input {
    margin: 8px; }

  .layout-margin4-sm > div, .layout-margin4-sm > b, .layout-margin4-sm > button, .layout-margin4-sm > a, .layout-margin4-sm > input {
    margin: 4px; }

  .w-5-sm {
    width: 5%; }

  .w-10-sm {
    width: 10%; }

  .w-15-sm {
    width: 15%; }

  .w-20-sm {
    width: 20%; }

  .w-25-sm {
    width: 25%; }

  .w-30-sm {
    width: 30%; }

  .w-35-sm {
    width: 35%; }

  .w-40-sm {
    width: 40%; }

  .w-45-sm {
    width: 45%; }

  .w-50-sm {
    width: 50%; }

  .w-55-sm {
    width: 55%; }

  .w-60-sm {
    width: 60%; }

  .w-65-sm {
    width: 65%; }

  .w-70-sm {
    width: 70%; }

  .w-75-sm {
    width: 75%; }

  .w-80-sm {
    width: 80%; }

  .w-85-sm {
    width: 85%; }

  .w-90-sm {
    width: 90%; }

  .w-95-sm {
    width: 95%; }

  .w-100-sm {
    width: 100%; } }
@media screen and (min-width: 601px) and (max-width: 4000px) {
  .hide-lg {
    display: none; }

  .col-lg,
  .col-reverse-lg,
  .row-lg {
    display: flex; }

  .col-lg {
    flex-direction: column; }

  .col-reverse-lg {
    flex-direction: column-reverse; }

  .main-center-lg {
    justify-content: center; }

  .main-start-lg {
    justify-content: flex-start; }

  .main-end-lg {
    justify-content: flex-end; }

  .main-space-between-lg {
    justify-content: space-between; }

  .main-space-around-lg {
    justify-content: space-around; }

  .cross-center-lg {
    align-items: center; }

  .cross-start-lg {
    align-items: flex-start; }

  .cross-end-lg {
    align-items: flex-end; }

  .cross-baseline-lg {
    align-items: baseline; }

  .flex-lg {
    flex: 1 1; }

  .wrap-lg {
    flex-wrap: wrap; }

  .h-100-lg {
    height: 100%; }

  .shadow-15-lg {
    box-shadow: 0px 0px 15px 0px #646464; }

  .layout-padding8-lg > div, .layout-padding8-lg > b, .layout-padding8-lg > button, .layout-padding8-lg > a, .layout-padding8-lg > input {
    padding: 8px; }

  .layout-padding4-lg > div, .layout-padding4-lg > b, .layout-padding4-lg > button, .layout-padding4-lg > a, .layout-padding4-lg > input {
    padding: 4px; }

  .layout-margin8-lg > div, .layout-margin8-lg > b, .layout-margin8-lg > button, .layout-margin8-lg > a, .layout-margin8-lg > input {
    margin: 8px; }

  .layout-margin4-lg > div, .layout-margin4-lg > b, .layout-margin4-lg > button, .layout-margin4-lg > a, .layout-margin4-lg > input {
    margin: 4px; }

  .w-5-lg {
    width: 5%; }

  .w-10-lg {
    width: 10%; }

  .w-15-lg {
    width: 15%; }

  .w-20-lg {
    width: 20%; }

  .w-25-lg {
    width: 25%; }

  .w-30-lg {
    width: 30%; }

  .w-35-lg {
    width: 35%; }

  .w-40-lg {
    width: 40%; }

  .w-45-lg {
    width: 45%; }

  .w-50-lg {
    width: 50%; }

  .w-55-lg {
    width: 55%; }

  .w-60-lg {
    width: 60%; }

  .w-65-lg {
    width: 65%; }

  .w-70-lg {
    width: 70%; }

  .w-75-lg {
    width: 75%; }

  .w-80-lg {
    width: 80%; }

  .w-85-lg {
    width: 85%; }

  .w-90-lg {
    width: 90%; }

  .w-95-lg {
    width: 95%; }

  .w-100-lg {
    width: 100%; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.dark, .container main section:nth-child(odd), .container header.even-color {
  background-color: #323232;
  color: #f0f0f0; }
  .dark .clickable:hover, .container main section:nth-child(odd) .clickable:hover, .container header.even-color .clickable:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.current-link {
  font-weight: bold;
  cursor: initial !important; }

@media screen and (min-width: 601px) and (max-width: 4000px) {
  .container main {
    margin-top: 40px; } }
.container main section h3 {
  margin: 0; }
.container main section:first-child {
  min-height: calc(100vh - 40px);
  background-image: radial-gradient(#555555, #3c3c3c, #323232); }
  .container main section:first-child > div {
    height: 60%;
    margin: 20px; }
    .container main section:first-child > div h1 {
      font-family: 'Courier New', Courier, monospace;
      margin-top: 0; }
      @media screen and (min-width: 601px) and (max-width: 4000px) {
        .container main section:first-child > div h1 {
          font-size: calc(10px + 3vw); } }
      @media screen and (min-width: 0) and (max-width: 600px) {
        .container main section:first-child > div h1 {
          font-size: calc(10px + 6vw); } }
      .container main section:first-child > div h1::after {
        content: ' ';
        background-color: #f0f0f0;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
        @media screen and (min-width: 601px) and (max-width: 4000px) {
          .container main section:first-child > div h1::after {
            width: 2vw;
            height: 3.5vw;
            margin-left: 0.3vw;
            margin-top: 0.4vw; } }
        @media screen and (min-width: 0) and (max-width: 600px) {
          .container main section:first-child > div h1::after {
            width: 4vw;
            height: 7vw;
            margin-left: 0.6vw;
            margin-top: 0.8vw; } }
    .container main section:first-child > div h2 {
      margin: 0; }
      @media screen and (min-width: 601px) and (max-width: 4000px) {
        .container main section:first-child > div h2 {
          font-size: calc(8px + 2vw); } }
      @media screen and (min-width: 0) and (max-width: 600px) {
        .container main section:first-child > div h2 {
          font-size: calc(8px + 4vw); } }
    .container main section:first-child > div:last-child {
      font-size: 20px;
      padding: 40px; }
      @media screen and (min-width: 601px) and (max-width: 4000px) {
        .container main section:first-child > div:last-child {
          border-left: 2px solid white; } }
      @media screen and (min-width: 0) and (max-width: 600px) {
        .container main section:first-child > div:last-child {
          border-top: 2px solid white; } }
      .container main section:first-child > div:last-child p {
        margin: 10px 0;
        opacity: 0;
        animation-name: appear;
        animation-duration: 2s;
        animation-fill-mode: forwards; }
        .container main section:first-child > div:last-child p:first-of-type {
          animation-delay: 1s; }
        .container main section:first-child > div:last-child p:nth-of-type(2) {
          animation-delay: 3s; }
        .container main section:first-child > div:last-child p:last-of-type {
          animation-delay: 5s; }
      .container main section:first-child > div:last-child .links {
        margin-top: 16px;
        opacity: 0;
        animation-name: appear;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 7s; }
        .container main section:first-child > div:last-child .links a {
          margin: 20px; }
          .container main section:first-child > div:last-child .links a:last-child {
            font-weight: bold;
            padding: 10px; }
.container main section:nth-child(2) {
  min-height: calc(80vh - 40px); }
  .container main section:nth-child(2) h3 {
    font-size: 22px; }
  @media screen and (min-width: 600px) and (max-width: 775px) {
    .container main section:nth-child(2) > div div {
      min-width: 90%; } }
  @media screen and (min-width: 776px) {
    .container main section:nth-child(2) > div div {
      min-width: 45%; } }
  .container main section:nth-child(2) > div article {
    margin: 20px; }
.container main section:last-child {
  min-height: calc(100vh - 40px); }
  .container main section:last-child h3 {
    font-size: 22px; }
  .container main section:last-child > div {
    margin: 40px 0; }
    .container main section:last-child > div article {
      border-radius: 5px; }
      .container main section:last-child > div article > div:last-child {
        padding: 10px; }
      @media screen and (min-width: 601px) and (max-width: 4000px) {
        .container main section:last-child > div article {
          margin: 20px 2vw; } }
      @media screen and (min-width: 0) and (max-width: 600px) {
        .container main section:last-child > div article {
          margin: 4vw; } }
      .container main section:last-child > div article a {
        padding: 8px; }
.container main section ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none; }
  .container main section ul li {
    margin-bottom: 10px; }
.container main section .img {
  background-size: cover;
  background-repeat: no-repeat;
  min-width: calc(50px + 10vw);
  max-width: calc(50px + 10vw);
  height: 100%;
  border-radius: 5px 0 0 5px; }
  .container main section .img.work-1 {
    background-image: url(../img/vaishnava.png); }
  .container main section .img.work-2 {
    background-image: url(../img/krishna-shop.png); }
  .container main section .img.work-3 {
    background-image: url(../img/tech-news.png); }
  .container main section .img.work-4 {
    background-image: url(../img/bike-shooter.png);
    background-position-x: 80%; }
.container header {
  position: fixed;
  background-color: white;
  transition: all 0.5s;
  z-index: 2; }
  @media screen and (min-width: 0) and (max-width: 600px) {
    .container header {
      bottom: 0; } }
  .container header a {
    height: 40px;
    transition: all 1s; }
    @media screen and (min-width: 601px) and (max-width: 4000px) {
      .container header a {
        width: 150px; } }
    @media screen and (min-width: 0) and (max-width: 600px) {
      .container header a {
        width: 100%; } }

footer {
  padding: 16px 0; }
  @media screen and (min-width: 0) and (max-width: 600px) {
    footer {
      margin-bottom: 40px; } }
  footer > div a {
    margin: 0 16px; }

/*# sourceMappingURL=index.css.map */
